.keyword-item {
  display: inline-block;
  padding: 1px 20px;
  margin: 5px;
  background-color: #f2f2f2;
  border-radius: 15px;
}
.add-keyword {
  background-color: #eb842f;
  color: white;
  border: none;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.add-keyword:hover {
  background-color: #45a049;
}
.submit-button {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.submit-button:hover {
  background-color: #007ba3;
}
.input-topic-field,
.input-keyword-field {
  height: 40px;
  background-color: #f2f2f2;
  /* padding: 10px 40px; */
  font-size: 18px;
  border: 0;
  outline: 0;
  width: 100%;
  margin-bottom: 2px;
  text-align: center;
  border-radius: 10px;
}
