
.main-nav-box {
  /* background-color: rgb(219, 140, 140); */
  display: flex;
  justify-content: space-between;
  width: 70%;
  letter-spacing: 1px;
}
.main-nav-box button {
  background-color: orange;
  border: 0;
  outline: 0;
  padding: 5px 20px;
  color: white;
  font-weight: 800;
  border-radius: 10px;
}
.main-nav-box button:hover {
  background-color: orangered;
  transition: 0.5s ease;
  box-shadow: 0 0 7px 1px #c46666;
}

.navbar-components {
  display: flex;
  width: 50%;
  /* background-color: aqua; */
  justify-content: space-evenly;
  cursor: pointer;
}

.navbar-itmes {
  list-style: none;
  cursor: pointer;
  font-weight: 900;
}
.navbar-itmes:hover {
  color: rgb(228, 120, 31);
  transition: 0.1s ease-in-out;
  text-decoration: underline;
}
.main-nav-box .navbar-components li.active {
  color: orange;
  text-decoration: underline;
}
.write:hover{

  box-shadow: 0 0 3px 3px #c46f13;
  transform: scale(0.8);
  transition: 0.2s ease;
}

/* recommended topics */
.recommendedTopicBox {
  height: 70px;
  width: 80%;
  margin: 1px;
  /* background-color: rgba(175, 163, 146, 0.425); */
  padding-left: 20px;
  border: 0.5px solid rgb(175, 169, 169);
  position: relative;
}
.recommendedTopicBox button {
  position: absolute;
  right: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  background-color: orange;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

/* modal styles  */

.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: rgb(150, 148, 144);
  /* z-index: 1; */
  /* backdrop-filter: blur(100px); */
}
.modal-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  width: 70%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
}
.generate-cancel-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.generate-cancel-buttons .generate,
.cancel {
  background-color: darkgoldenrod;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  margin-left: 30px;
  color: beige;
  font-size: 18px;
  border-radius: 15px;
}
.modal-container .title,
.content {
  /* background-color: aqua; */
  border-radius: 5px;
  font-size: 18px;
  padding: 8px;
  border: 0;
  outline: 0;
}
.modal-container .title:focus {
  border-left: 2px solid orange;
}
.modal-container .content:focus {
  border-left: 2px solid orange;
}
.modal-container .image-selection {
  /* background-color: aqua; */
  height: 150px;
}
